{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <div class="site-content">
        <div class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.date) }}
            {{ form_row(form.timezone) }}

            {{ form_row(form.submit, { 'label': 'Submit me' }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

